/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 27, 2023, 10:56:56 PM
    Author     : Quách Thành
*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: red;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

section {
    display: flex;
    flex-wrap: wrap; 
    margin: 20px;
}

article {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    float: left;
    width: 30%;
    margin-right: 3%;
}

article:last-child {
    margin-right: 0;
}

h1 {
    font-size: 24px;
    margin-top: 0;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
}

button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.wrapper {
    padding-bottom: 100px; 
  }
